@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Secondary-Regular";
  src:
    local("Jua-Regular"),
    url(./assets/fonts/Jua-Regular.ttf) format("woff");
}

@font-face {
  font-family: "Primary-Regular";
  src:
    local("Roboto-Regular"),
    url(./assets/fonts/Roboto-Regular.ttf) format("woff");
}

@font-face {
  font-family: "Primary-Bold";
  src:
    local("Roboto-Bold"),
    url(./assets/fonts/Roboto-Bold.ttf) format("woff");
}

@font-face {
  font-family: "Primary-Medium";
  src:
    local("Roboto-Medium"),
    url(./assets/fonts/Roboto-Medium.ttf) format("woff");
}

@font-face {
  font-family: "Primary-Light";
  src:
    local("Roboto-Light"),
    url(./assets/fonts/Roboto-Light.ttf) format("woff");
}

@layer base {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.17rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.83rem;
  }

  h6 {
    font-size: 0.67rem;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .scrollbar-custom {
    &::-webkit-scrollbar {
      height: 0.5rem;
      width: 0.5rem;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: #03c04a;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #009a3a;
    }
  }
}

@layer components {
  .text-responsive {
    @apply text-sm xs:text-base sm:text-xl sm-md:text-xl md:text-xl lg:text-xl xl:text-2xl 4k:text-3xl;
  }
  .text-responsive_header {
    @apply text-xl xs:text-base sm:text-xl sm-md:text-2xl md:text-2xl lg:text-3xl xl:text-4xl 4k:text-5xl;
  }
  .height-responsive {
    @apply h-8 sm:h-12 md:h-16 lg:h-24 xl:h-32 4k:h-48;
  }
  .left-icon.visible,
  .right-icon.visible {
    opacity: 1;
    transform: translateX(0);
  }

  .section.visible {
    animation: bounceIn 1s ease;
    opacity: 1;
    transform: translateX(0);
  }
}

@layer base {
  html,
  body {
    @apply bg-white; /* Example: Set background color and text color */
  }
}
